@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4d40e6, #8b5cf6);
  min-height: 100vh;
  color: white;
}



.auth-container, .game-container {
  width: 90%;
  max-width: 450px;
  margin: 50px auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #ffffff;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  color: #4d40e6;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.03);
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  margin-top: 25px;
}


.grid.easy {
  grid-template-columns: repeat(3, 1fr);
}
.grid.medium {
  grid-template-columns: repeat(4, 1fr);
}
.grid.hard {
  grid-template-columns: repeat(6, 1fr);
}


.card {
  width: 100%;
  aspect-ratio: 1/1.2;
  background: white;
  border-radius: 14px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
}

.front {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background: #4d40e6;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back img {
  width: 80%;
}


.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: rgba(255,255,255,0.25);
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
}


.win-banner {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
